<div class="row">
    <div class="col">
      <h3>Compose</h3>
  
      <form [formGroup]="composeForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- title -->
        <div class="form-group">
          <label for="title" class="control-label font-weight-bold">Title</label>
          <input type="text" class="form-control" formControlName="title" placeholder="Title" 
          [ngClass]="{ 'is-valid': submitted && !f.title.errors, 'is-invalid': submitted && f.title.errors }">
          <div class="invalid-feedback" *ngIf="f.title.errors">
            <!-- <span *ngIf="f.title.errors.required">Title is required</span> -->
          </div>
        </div>
  
        <!-- content -->
        <div class="form-group">
          <label for="content" class="control-label font-weight-bold">Content</label>
          <textarea class="form-control" formControlName="content" placeholder="Content" [ngClass]="{ 'is-valid': submitted && !f.content.errors, 'is-invalid': submitted && f.content.errors }"></textarea>
          <div class="invalid-feedback" *ngIf="f.content.errors">
            <!-- <span *ngIf="f.content.errors.required">Content is required</span> -->
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="isWorking">{{ isWorking ? 'Working...' : 'Submit' }}</button>
      </form>
    </div>
  </div>